doctype html5
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="Content-Type" content="text/html; charset=utf8")
		title NextgenJS
		script(type="text/javascript" src="/app.js")
		//link(href="css/app.css", rel="stylesheet")
	body
		h1 HELLO
		div(id="main_frame")
